.heading {
  color: #66b3ff;
  border-bottom: 2px solid #66b3ff;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.card-container .card {
  overflow: hidden;
  width: 300px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card-container .card .card-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-container .card .card-body {
  padding: 15px;
}
.card-container .card .card-body h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333333;
}
.card-container .card .card-body h4 {
  color: #333333;
}
.card-container .card .card-body p {
  margin: 10px 0;
  color: #828282;
}
.card-container .card .card-body ul {
  margin: 10px 0;
  text-align: left;
  color: #828282;
}
.card-container .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.card-container .Link {
  position: relative;
  padding-bottom: 40px;
}
.card-container .Link a {
  text-decoration: none;
}
.card-container .Link .viewMore {
  position: absolute;
  bottom: 10px;
  margin: 0px 10px;
  border: 2px solid #66b3ff;
  border-radius: 5px;
  padding: 5px;
  width: calc(100% - 40px);
  text-decoration: none;
  text-align: center;
  color: #66b3ff;
}
.card-container .Link:hover .viewMore {
  color: #ff9933;
  border: 2px solid #ff9933;
}

.sub-heading {
  display: block;
  margin: 5%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5%;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
table th {
  border: 1px solid black;
  padding: 8px;
  background-color: black;
  text-align: left;
  color: white;
}
table tr:hover {
  background-color: #dedede;
}

.break {
  display: block;
  border-bottom: 2px solid #66b3ff;
  margin: 5px 10%;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 40vw;
  overflow: hidden;
}
.slideshow-container .text-overlay {
  position: absolute;
  z-index: 2;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.slideshow-container .text-overlay h1 {
  font-size: 2rem;
  margin: 0 0 10px;
}
.slideshow-container .text-overlay p {
  font-size: 1rem;
  margin: 0;
}
.slideshow-container .slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.slideshow-container .slide-image img, .slideshow-container .slide-image video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow-container .active {
  opacity: 1;
}
.slideshow-container .nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;
  border-radius: 5px;
}
.slideshow-container .nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .prev-btn {
  left: 10px;
}
.slideshow-container .next-btn {
  right: 10px;
}

.slideshow-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1;
}

@media (max-width: 700px) {
  .slideshow-container {
    height: 100vw;
  }
}/*# sourceMappingURL=elements.css.map */