#Intro {
  display: flex;
  margin: 0 auto 20px;
}
#Intro #Info {
  padding-left: 20px;
  width: 100%;
  align-items: center;
}
#Intro #Info #Title {
  display: inline;
}
#Intro #Info #TechIconsBox {
  display: block;
  gap: 10px;
  margin-bottom: 10px;
  float: right;
}
#Intro #Info #TechIconsBox #TechIcon {
  display: inline;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#Intro #Info #Grade {
  color: #66b3ff;
}
#Intro #Info #Category {
  vertical-align: middle;
  height: 30px;
  padding: 17px;
}

@media (max-width: 1000px) {
  #Intro {
    display: block;
  }
  #Intro #Info {
    padding: 0;
  }
  #Intro #Info #Title {
    display: block;
    text-align: center;
  }
  #Intro #Info #TechIconsBox {
    float: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #Intro #Info #TechIconsBox #TechIcon {
    display: flex;
  }
  #Intro #Info #Grade {
    text-align: center;
  }
}
@media (max-width: 500px) {
  #Intro #Info #TechIconsBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}