---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <div style="display: flex; align-items: flex-start; max-width: 80%; margin: 0 auto 20px;">
      <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
        {% include figure.liquid path=page.img max-width="250px" max-height="250px" %}
      </div>

      <div style="padding-left: 20px;">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        <div style="display: flex; gap: 10px; margin-bottom: 10px;">
          {% for icon in page.icons %}
            {% include icon.liquid site=icon.site file=icon.file %}
          {% endfor %}
        </div>
      </div>
    </div>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
